
.flex-container{
    margin: 0 auto;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.container{
    border: black 2px solid;
    padding: 2rem;
}

.page{
    
    background: linear-gradient(90deg, rgba(255, 240, 219, 1) 0%, rgba(238, 217, 196, 1) 100%);
}