.img{
    cursor: pointer;
    height: 300px;
    width: 300px;
    max-width: 350px;
    max-height: 400px;
}
.flex-container{
    margin: 2.5rem auto;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.container{
    /* border: black 2px solid; */
    max-width: 350px;
    /* margin: 3rem auto; */
    padding: 1em;
}
.container:hover{
    box-shadow: 2px 2px 2px 2px grey;
}
.bcgk{
    border-top: solid black 2px;
    background-color: white;
}
/* .page{
    
    background: linear-gradient(90deg, rgba(255, 240, 219, 1) 0%, rgba(238, 217, 196, 1) 100%);
} */